.vscode
archive
**/__pycache__
**/*.ipynb
**/*.pt
**/*.pickle
**/*.pyc
bert-base-uncased
checkpoints
data
cornellmovie_data
ubuntu_data
others
runs
metrics
metric-sfs
results
distinct_n
test
test*.*
*.txt